body{                      
padding-left :0px;
padding-right:0px 
  }


.right {       
background-color:rgb(10,252,1 ) ; 
}
li{
  display: inline;

margin: 10px;
}

p:last-child{
  text-align-last:center;
}

main{
display: flex;
  
}


img{

background-color: rgb(186, 187, 174);
  background-position: center;
}

nav{
max-width: 960px; 
margin: 0 auto;
padding:10px ;
margin-right: 0%;
}

a:hover{
 box-shadow: o o 10px; 
}
h2{
  text-align: center;
}











































































