body{                      
padding-left :0px;
padding-right:0px 
  }

.left{  
  background-color:rgb(0,0,0);
}

.right {       
background-color:rgb(10,252,1 ) ; 
}
li{
  display: inline;

margin: 10px;
}

p:last-child{
  text-align-last:center;
}





















































